@import "base.scss";
.wrapper{
  width: 1000px;
  margin: 50px auto;
}

header{
  @include r(100%,150px);
  border: 1px solid #999;
  margin-bottom: 20px;

  .logo{
    @include r(15%,150px);
    background-color: #999;
  }

  nav{
    @include r(75%,50px);
    margin-left: 5%;
    margin-top: 80px;
    background-color: #e8e8e8;

    a{
      @include r(20%);
      width: 20%;
      line-height: 50px;
      text-align: center;
    }
  }
}

aside{
  @include r(20%);
  border: 1px solid #999;

  a{
    @include r;
    line-height: 50px;
    text-indent: 20px;
  }
}

.content{
  @include r(70%);
  margin-left: 5%;

  section{
    @include r(100%,50px);
    @include font(15px,27px,#fff);
    margin-bottom: 20px;
    text-align: center;

    &.style1{ background-color: royalblue; }

    &.style2{ background-color: rosybrown; }
  }
}

footer{
  @include r(100%,50px);
  border: 1px solid #999;
  text-align: center;
  line-height: 50px;
}

@media screen and (max-width: 1000px) {
  .wrapper{
    width: 100%;
    margin: 50px auto;
  }

  header{
    height: auto;

    .logo{
      @include r(80%,150px);
      margin: 20px 10%;
    }

    nav{
      @include r(100%,50px);
      margin-left: 0%;
      margin-top: 0;
    }
  }
}